* {
    margin: 0; padding: 0; 
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 40px;
    background-color: #27282c;

}

a {
    text-decoration: none;
    position: relative;
    color: #fff;
    background-color: #444;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.2s ease;
}

a:hover {
   letter-spacing: 0.25em;
   background-color: var(--c);
   box-shadow: 0 0 30px var(--c);
   color: var(--c)
}

a:before {
    content: "";
    position: absolute;
    inset: 2px;
    background-color: #27282c;
}

a span {
    position: relative;
    z-index: 1;
}

a i {
    position: absolute;
    inset: 0;
    display: block;
}


a i::before {
    content: '';
    position: absolute;
    top: -6px;
    left: 100%;
    width: 10px;
    height: 10px;
    background-color: #27282c;
    border: 2px solid var(--c);
    transform: translateX(-50%);
    transition: 0.3s ease;
}

a:hover i::before {
    left: 0%;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 28px 28px var(--c);
}

a i::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0%;
    width: 10px;
    height: 10px;
    background-color: #27282c;
    border: 2px solid var(--c);
    transform: translateX(-50%);
    transition: 0.3s ease;
}

a:hover i::after {
    left: 100%;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: -28px -28px var(--c);
}